@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    font-size: 16px;
}

body {
    font-style: normal;
    font-family: "DM Sans", serif;
    color: black;
    background: #DFDBFD;
}

.wrapper-top{
    display: flex;
    justify-content: center;
}

.wrapper-box{
    margin: 20px;
}

.wrapper-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-button{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}   

.logo{
    max-width:60%;
    height: auto;
}

.navbar{
    display: none;
}

.image{
    margin-top: 4%;
    max-width: 100%;
    height: 40%;
    border-radius: 15px;
}

.text{
    max-width: 100%;
    height: 60%;
}

.button {
    background: #122130;
    border-radius: 5px;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
}

.wrapper-button-svg{
    padding: 2px;
    border-radius: 5px;
    margin-left: 10px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-text{
    color: rgb(252, 246, 246);
    margin-left: 5px;
}

.button-svg{
    width: 20px;
    height: auto;
}

h1{
    font-size: clamp(1rem, 2.5vw, 3rem);
    margin-bottom: 1%;
}
h3{
    display: none;
}
h4{
    margin-bottom: 2%;
    font-size: clamp(10px, 2vw, 14px);
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: clamp(8px, 2vw, 12px);
}


@media screen and (min-width: 480px){
    .wrapper-text{
        display: none;
    }
}

@media screen and (min-width: 768px){
    .wrapper-top{
        justify-content:space-between;
    }

    .logo{
        width: 30%;
    }

    .navbar {
        width: 40%;
        display:flex;
        justify-content: flex-end;
        padding: 1em;
      }
      
    .navbar ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }

    .navbar li{
        padding: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .navbar li:hover {
        background-color: #5F4BF9;
        color: white; 
    }

    h3{
        display: flex;
        color:white;
        padding: 15px;
        background-color: #5F4BF9;
        width: 70%;
        padding: 35px;
        border-radius: 10px;
        margin-top: 20px;
    }

    .wrapper-box{
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .wrapper-text{
        display: flex;
        align-items: center;
        width: 60%;
    }
    
    .image{
        height: 60%;
    }
    
    .wrapper-button{
        display: flex;
        align-items: center;
        width:40%;
    }
}